nz-card {
  width: 100%;

  .card-grid {
    width: 25%;

    .item-image {
      width: 100%;
      height: auto;
    }

    .btn-primary {
      color: #fff;
      background-color: #cd1818;
      border-color: #cd1818;
      &:hover {
        background-color: #aa1515;
        border-color: #aa1515;
      }
      &:focus {
        background-color: #aa1515;
        border-color: #aa1515;
        box-shadow: 0 0 0 0.25rem rgba(253, 49, 49, 0.5);
      }
    }
  }
}
