<div class="nckh-home">
  <app-category-card cardTitle="Laptop" extra="Xem tất cả" [list]="laptops"></app-category-card>
  <app-category-card cardTitle="Điện thoại" extra="Xem tất cả" [list]="smartphones"></app-category-card>
  <app-category-card cardTitle="TV" extra="Xem tất cả" [list]="tvs"></app-category-card>
  <app-category-card cardTitle="Tai nghe" extra="Xem tất cả" [list]="headphones"></app-category-card>
  <app-category-card cardTitle="Sản phẩm khác" extra="Xem tất cả" [list]="others"></app-category-card>
</div>
