<div class="nckh-login">
  <img class="background-img" src="../../../../assets/images/background-laptop.jpg" alt="">
  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <div class="logo">
      <img src="../../../../assets/images/logo.svg" alt="">
    </div>
    <nz-form-item>
      <nz-form-control nzErrorTip="Vui lòng điền tên tài khoản!">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="username" placeholder="Tên tài khoản"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Vui lòng điền mật khẩu!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Mật khẩu"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <div nz-row class="login-form-margin">
      <div nz-col [nzSpan]="12">
        <label nz-checkbox formControlName="remember">
          <span>Nhớ đăng nhập</span>
        </label>
      </div>
      <div nz-col [nzSpan]="12">
        <a class="login-form-forgot" routerLink="/auth/forgot-password">Quên mật khẩu?</a>
      </div>
    </div>
    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Đăng nhập</button>
    Hoặc
    <a routerLink="/auth/register">đăng ký ngay!</a>
  </form>
</div>
