<div class="nckh-auth">
  <img class="background-img" src="../../../../assets/images/background-auth.jpg" alt="">
  <form nz-form [formGroup]="loginForm" class="auth-form" (ngSubmit)="submit()">
    <div class="logo">
      <img src="../../../../assets/images/logo.svg" alt="">
    </div>
    <div class="control-wrapper" *ngFor="let control of multiDataControls">
      <app-multi-data-control class="control-input"
                              [formControlName]="control.code"
                              [options]="control.options"
                              [state]="control.state"
      ></app-multi-data-control>
    </div>
    <div class="row">
      <div class="col-12 mb-2">
        <label nz-checkbox (nzCheckedChange)="togglePasswordVisibility()">
          Hiện mật khẩu
        </label>
      </div>
    </div>
<!--      <div nz-col [nzSpan]="12">-->
<!--        <a class="login-form-forgot" routerLink="/auth/forgot-password">Quên mật khẩu?</a>-->
<!--      </div>-->
    <button nz-button class="form-submit-button" nzType="primary" [nzLoading]="loading">Đăng nhập</button>
    Hoặc
    <a routerLink="/auth/register">đăng ký ngay!</a>
  </form>
</div>
