<div class="nckh-register">
  <img class="background-img" src="../../../../assets/images/background-laptop.jpg" alt="">
  <form nz-form [formGroup]="validateForm" class="register-form" (ngSubmit)="submitForm()">
    <div class="logo">
      <img src="../../../../assets/images/logo.svg" alt="">
    </div>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Email</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Email không hợp lệ!">
        <input nz-input formControlName="email" id="email"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Mật khẩu</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Vui lòng điền mật khẩu!">
        <input
          nz-input
          type="password"
          id="password"
          formControlName="password"
          (ngModelChange)="updateConfirmValidator()"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Mật khẩu xác thực</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
        <input nz-input type="password" formControlName="checkPassword" id="checkPassword"/>
        <ng-template #errorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">Vui lòng điền mật khẩu xác thực!</ng-container>
          <ng-container *ngIf="control.hasError('confirm')">
            Mật khẩu nhập không khớp với mật khẩu xác thực!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="fullname" nzRequired>Họ tên</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Vui lòng điền họ tên!">
        <input nz-input id="fullname" formControlName="fullname"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" nzRequired>Số điện thoại</nz-form-label>
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        [nzValidateStatus]="validateForm.controls['phoneNumber']"
        nzErrorTip="Vui lòng điền số điện thoại!"
      >
        <!-- <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
          <ng-template #addOnBeforeTemplate>
            <nz-select formControlName="phoneNumberPrefix" class="phone-select">
              <nz-option nzLabel="+86" nzValue="+86"></nz-option>
              <nz-option nzLabel="+87" nzValue="+87"></nz-option>
            </nz-select>
          </ng-template>
        </nz-input-group> -->
        <input formControlName="phoneNumber" id="'phoneNumber'" nz-input/>
      </nz-form-control>
    </nz-form-item>
    <!-- <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="website" nzRequired>Website</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input website!">
        <input nz-input id="website" formControlName="website" placeholder="website" />
      </nz-form-control>
    </nz-form-item> -->
    <!-- <nz-form-item>
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzFor="captcha"
        nzRequired
        nzTooltipTitle="Please click 'Get captcha'"
        [nzTooltipIcon]="captchaTooltipIcon"
      >
        Captcha
      </nz-form-label>
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="Please input the captcha you got!"
        nzExtra="We must make sure that your are a human."
      >
        <div nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="12">
            <input nz-input formControlName="captcha" id="captcha" />
          </div>
          <div nz-col [nzSpan]="12">
            <button nz-button (click)="getCaptcha($event)">Get captcha</button>
          </div>
        </div>
      </nz-form-control>
    </nz-form-item> -->
    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <label nz-checkbox formControlName="agree">
          <span>
            Tôi đã đọc
            <a>các điều khoản và thỏa thuận</a>
          </span>
        </label>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary">Đăng ký</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
