<div class="nckh-user">
  <nz-layout class="app-layout">
    <nz-header>
      <div class="app-header">
        <a class="logo" routerLink="/">
          <img src="../../../assets/images/logo.svg" alt="">
        </a>
        <div class="search-bar">
          <input class="input-search" type="text" placeholder="Nhập mã hoặc tên sản phẩm..."/>
          <button class="btn-search">
            <span class="icon-search" nz-icon nzType="search" nzTheme="outline"></span>
          </button>
        </div>
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-item-wrapper" nz-dropdown [nzDropdownMenu]="menu">
              <span class="icon-nav-item" nz-icon nzType="appstore" nzTheme="outline"></span>
              <span class="label-nav-item">Danh mục</span>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item>Laptop</li>
                <li nz-menu-item>Điện thoại</li>
                <li nz-menu-item>TV</li>
                <li nz-menu-item>Tai nghe</li>
                <li nz-menu-item>Sản phẩm khác</li>
              </ul>
            </nz-dropdown-menu>
          </li>
          <li class="nav-item">
            <a class="nav-item-wrapper" routerLink="/feedback">
              <span class="icon-nav-item" nz-icon nzType="notification" nzTheme="outline"></span>
              <span class="label-nav-item">Liên hệ</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-item-wrapper" routerLink="/cart">
              <span class="icon-nav-item" nz-icon nzType="shopping-cart" nzTheme="outline"></span>
              <span class="label-nav-item">Giỏ hàng</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-item-wrapper" (click)="isUserLoggedIn ? logout() : login()">
              <span class="icon-nav-item" nz-icon nzType="user" nzTheme="outline"></span>
              <span class="label-nav-item">
                {{isUserLoggedIn ? "Đăng xuất" : "Đăng nhập"}}
              </span>
            </a>
          </li>
        </ul>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>
      <div class="app-footer">
        <div class="row w-100">
          <div class="col-12 mt-1 mb-1 text-center">
            Nguyễn Kim Cương
          </div>
        </div>
      </div>
    </nz-footer>
  </nz-layout>
</div>
