<div class="nckh-user">
  <nz-layout class="app-layout">
    <nz-header>
      <div class="app-header">
        <a class="logo text-center" routerLink="/">
          <img src="../../../assets/images/logo.svg" alt="">
        </a>
        <div class="search-bar">
          <input class="input-search" type="text" placeholder="Nhập mã hoặc tên sản phẩm..."/>
          <button class="btn-search">
            <span class="icon-search" nz-icon nzType="search" nzTheme="outline"></span>
          </button>
        </div>
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-item-wrapper" routerLink="/" nz-dropdown [nzDropdownMenu]="categoryMenu">
              <span class="icon-nav-item" nz-icon nzType="appstore" nzTheme="outline"></span>
              <span class="label-nav-item">Danh mục</span>
            </a>
            <nz-dropdown-menu #categoryMenu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item routerLink="/category/laptop">Laptop</li>
                <li nz-menu-item routerLink="/category/smartphone">Điện thoại</li>
                <li nz-menu-item routerLink="/category/smart-tv">Smart TV</li>
                <li nz-menu-item routerLink="/category/headphone">Tai nghe</li>
                <li nz-menu-item routerLink="/category/other">Sản phẩm khác</li>
              </ul>
            </nz-dropdown-menu>
          </li>
          <li class="nav-item">
            <a class="nav-item-wrapper" routerLink="/feedback">
              <span class="icon-nav-item" nz-icon nzType="notification" nzTheme="outline"></span>
              <span class="label-nav-item">Phản hồi</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-item-wrapper" routerLink="/cart">
              <span class="icon-nav-item" nz-icon nzType="shopping-cart" nzTheme="outline"></span>
              <span class="label-nav-item">Giỏ hàng</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-item-wrapper" nz-dropdown [nzDropdownMenu]="accountMenu">
              <span class="icon-nav-item" nz-icon nzType="user" nzTheme="outline"></span>
              <span class="label-nav-item">Tài khoản</span>
            </a>
            <nz-dropdown-menu #accountMenu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item>
                  Hi, {{getCurrentUser ? getCurrentUser.fullName : 'Guest'}}
                </li>
                <li nz-menu-divider></li>
                <li nz-menu-item *ngIf="getCurrentUser">Tài khoản của tôi</li>
                <li nz-menu-item (click)="getCurrentUser ? logout() : login()">
                  {{getCurrentUser ? "Đăng xuất" : "Đăng nhập"}}
                </li>
                <li nz-menu-item (click)="register()">Đăng ký</li>
              </ul>
            </nz-dropdown-menu>
          </li>
        </ul>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>
      <div class="app-footer">
        <div class="row w-100">
          <div class="col-12 mt-1 mb-1 text-center">
            {{currentYear}}&copy;Nguyễn Kim Cương - DHTI14A1CL - 18/02/2002
          </div>
        </div>
      </div>
    </nz-footer>
  </nz-layout>
</div>
